body {
  background-color: #ffffff;
  color: #000000;
  font-size: 16px;
  /*Add line-height to body*/
  line-height: 2em;
  font-family: Open Sans;
}

nav {
  background-color: #333333;
  float: left;
  position: relative;
  width: 100%;
  font-weight: bold;

}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color:blue;
} /* mouse over */

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

h1 {
  text-transform: uppercase;
  font-size: 2em;
  font-weight: 400;
  padding-top: 20px;
  padding-bottom: 10px;
  line-height: normal;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.17em;
  padding-bottom: 10px;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
  padding-bottom: 20px;
}

figcaption {
  font-size: .7em;
  font-style:italic;
  text-align: center;
  padding-bottom: 20px
}

.container {
  margin: 0 auto;
  width: 50%;
}

.author {
  font-style: italic;
  padding-bottom: 20px;
}

p {
  margin-bottom: 20px;
}
